<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Victor's</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Grape+Nuts&family=Indie+Flower&family=Permanent+Marker&family=Roboto+Flex:opsz,
    wght@8..144,200;8..144,400;8..144,600;8..144,900;8..144,1000&family=Roboto+Slab:wght@300;400;800&family=Roboto:wght@300&family=Rubik:ital,wght@0,300;0,600;1,800&family=Secular+One&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static">

    <style>

      *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
      }

      header{
        
        background-image: url('../img/logo.jpg');
        background-color: #f5f3ee;
        position: relative;
        height: 300px
      }

      #logo{
        margin: auto;
        height: 250px;
        width: 320px;
        text-align: center;
      }

      #logo h1{
         font-family: 'Dongle';
         font-size: 58px;
         text-align: center;
       }

     nav ul{
        list-style: none;
        display: inline-block;
        padding:18px;
     }

     nav ul li{
         float: left;
         margin-top: 20px;
     }

     nav ul li a {
         color: rgb(5, 4, 0);
         font-weight: bold;
         text-decoration: none;
         font-size: 20px;
         padding: 18px;
         text-align: right;
        
       

     }

     nav ul li a:hover{
       background-color: #97e1f8;
       border: 2px solid #97e1f8; 
       border-radius: 5px;
       text-align: right;
     }

   </style>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
       
        
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contactos.html">Contactos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="productos.html">Productos</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="servicios.html">Servicios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header>
        <div id="logo">
          <img src="vet" url="../img" alt="veterinaria">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Veterinaria Victor's</h1>
                <span class="subheading">Comprometidos con la salud y bienestar de los pacientes</span>
              </div>
            </div>
          </div>
        </div>
      </header>
      
      <section class="acerca-de">
        <div class="contenedor">
            <div class="texto">
                <h3 id="acerca-de" class="titulo">Acerca de</h3>
                <p>En <span class="bold">Veterinaria Victor's</span> nos preocupamos por el bienestar de 
                  sus mascotas asi como animales de granja,
                   siendo nuestra prioridad el poder brindar un buen 
                   servicio a nuestros pacientes como a sus propietarios.</p>
            </div>
        </div>
    </section>

    <section class="descripcion">
      <div class="contenedor">
        <div class="texto">
          <h3 id="descripcion" class="titulo">Nuestros servicios</h3>
            <figure class="icon-cards mt-3">
            <div class="icon-cards__content">
              <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">Clínica</span></div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">Cirugía</span></div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">Consultas</span></div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">Venta de medicamentos y accesorios</span></div>
            </div>
          </figure>
          
          <div class="checkbox">
            <input class="d-none" id="toggle-animation" type="checkbox" checked />
            <label class="checkbox__checkbox" for="toggle-animation"></label>
            <label class="checkbox__label" for="toggle-animation">Toggle animation</label>
          </div>
        
        </div>

      </div>

    </section>

    <section class="redes-sociales">
      <div class="contenedor">
          <a class="twitter" href="http://www.twitter.com/falconmasters"><i class="fa fa-twitter"></i> </a>
          <a class="facebook" href="http://www.facebook.com/falconmasters"><i class="fa fa-facebook"></i></a>
          <a class="instagram" href="http://www.instagram.com/falconmasters"><i class="fa fa-instagram"></i>
          </a>
          <a class="github" href="https://mail.google.com/mail/u/3/?pli=1#inbox""><i class=" fa fa-gmail"></i> </a>
      </div>
  </section>


      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-gmail fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <p class="copyright text-muted">Copyright &copy; 2022 ·Las Reales (UTT) </p>
            </div>
          </div>
        </div>
      </footer>

      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/clean-blog.min.js"></script>
  
</body>
</html>