<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container2">
      <a class="produc" href="productos.html">Productos</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menú
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Portada</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   <header class="produc" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay1"></div>
    <div class="container2">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Productos</h1>
            <span class="subheading">Contamos con una amplia variedad de productos para la salud de sus animales</span>
          </div>
        </div>
      </div>
    </div>
  </header>
    
</body>
</html>