<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container2">
      <a class="produc" href="servicios.html">Servicios</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menú
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="acerca.html">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactos.html">Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Servicios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   <header class="produc" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay1"></div>
    <div class="container2">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Productos</h1>
            <span class="subheading">Contamos con una amplia variedad de productos para la salud de sus animales</span>
          </div>
        </div>
      </div>
    </div>
    <section class="ProductsSection">
        <main class="mainDestacados">
          <h2>Catalogo deproductos</h2>
          <section class="containerProdutos">
            <div class="produto">
                <img src="images/Novidades/Novidade1.jpg" alt="" class="produto__img">
              <div class="productDescription">
                <h3 class="produto__title">Novidade 1</h3>
                <spam class="produto__price">$90.00</spam>
              </div>
              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="produto">
                <img src="images/Novidades/Novidade2.jpg" alt="" class="produto__img">
              <div class="productDescription">
                <h3 class="produto__title">Novidade 2</h3>
                <spam class="produto__price">$90.00</spam>
              </div>
              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="produto">
                <img src="images/Novidades/Novidade3.jpg" alt="" class="produto__img">
              <div class="productDescription">
                <h3 class="produto__title">Novidade 3</h3>
                <spam class="produto__price">$90.00</spam>
              </div>
              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="produto">
                <img src="images/Novidades/Novidade4.jpg" alt="" class="produto__img">
             <div class="productDescription">
              <h3 class="produto__title">Novidade 4</h3>
              <spam class="produto__price">$90.00</spam>
              </div>
              <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
            </div>
            <div class="produto">
              <img src="images/Novidades/Novidade5.jpg" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="produto__title">Novidade 5</h3>
              <spam class="produto__price">$90.00</spam>
            </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          <div class="produto">
              <img src="images/Novidades/Novidade6.jpg" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="produto__title">Novidade 6</h3>
              <spam class="produto__price">$90.00</spam>
            </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          <div class="produto">
              <img src="images/Novidades/Novidade7.jpg" alt="" class="produto__img">
            <div class="productDescription">
              <h3 class="produto__title">Novidade 7</h3>
              <spam class="produto__price">$90.00</spam>
            </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          <div class="produto">
              <img src="images/Novidades/Novidade8.jpg" alt="" class="produto__img">
           <div class="productDescription">
              <h3 class="produto__title">Novidade 8</h3>
              <spam class="produto__price">$90.00</spam>
            </div>
            <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
          </div>
          </section>
        </main>
      </section>
  </header>
    
</body>
</html>